<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/f320fe6294.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/all_buttons.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/student.css" />
    <link rel="stylesheet" href="css/faculty.css" />
    <link rel="stylesheet" href="css/result_searched.css" />
    <link rel="stylesheet" href="css/tableAlign.css" />
    <title><%= pageTitle %></title>
    <style>
      #download-list {
        display: none;
      }

      table {
        display: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="left-logo">
          <a href="/faculty"
            ><img src="images/ldrp_logo.png" alt="ldrp_logo"
          /></a>
        </div>
        <div class="right-nav-icons">
          <div class="grade-menu">
            <a href="/grade_history"
              ><img
                src="images/history.svg"
                alt="grade icon"
                class="fa-icon"
              />Grade history</a
            >
          </div>
          <form action="/logout" method="post">
            <button type="submit" class="submitBtn btns">
              <img src="images/logout.svg" alt="user" class="fa-icon" /> Logout
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="selection--search">
      <form id="myForm" action="/result" method="post">
        <select
          id="batch"
          name="batch"
          class="drop-custom text-uppercase"
        >
          <option value="default">Batch</option>
          <% batches?.forEach(batch => { %>           
            <option value="<%= batch?._id %>" <%= JSON.stringify(filters?.batch) === JSON.stringify(batch?._id) ? 'selected' : '' %>>
              <%= batch?.batchName %>
            </option>
          <% }); %>
        </select>


        <select
        id="branch"
        onchange="onChangeBranch()"
        name="branch"
        class="drop-custom text-uppercase"
        >
        <option value="default">Branch</option>
          <% branches?.forEach(branch => { %>
          <option value="<%= branch?._id %>" <%= JSON.stringify(filters?.branch) === JSON.stringify(branch?._id) ? 'selected' : '' %>><%= branch?.branchFullName %></option>
          <% }); %>
        </select>

        <select
          id="semester"
          name="semester"
          onchange="onChangeSemester()"
          class="drop-custom text-uppercase"
        >
        <option value="default">Semester</option>
        <% semesters?.forEach(semester => { %>
          <option value="<%= semester?._id %>" <%= JSON.stringify(filters?.semester) === JSON.stringify(semester?._id) ? 'selected' : '' %>><%= semester?.Name %></option>
          <% }); %>
        </select>

        <select
          id="division"
          name="division"
          class="drop-custom text-uppercase"
        >
          <option value="default">Division</option>
          <% divisions?.forEach(division => { %>
            <option value="<%= division?._id %>" <%= JSON.stringify(filters?.division) === JSON.stringify(division?._id) ? 'selected' : '' %>><%= division?.Name %></option>
            <% }); %>
        </select>

        <select id="subject" name="subject" class="drop-custom text-uppercase">
          <option value="default">Subject</option>
          <% subjects?.forEach(subject => { %>
            <option value="<%= subject?.subject?._id %>" <%= JSON.stringify(filters?.subject) === JSON.stringify(subject?.subject?._id) ? 'selected' : '' %>><%= subject?.subject?.subjectFullName %></option>
            <% }); %>
        </select>
        
        <input
          type="submit"
          name="btnSearch"
          value="Search"
          class="btn-search"
          id="btn-search"
        />
      </form>
    </div>

    <% if (results.length > 0) { %>
      <table class="table faculty-table" style="display: block;">
        <thead class="thead-dark">
          <tr>
            <th scope="col left-border">Enollment number</th>
            <th scope="col">student name</th>
            <th scope="col">subject name</th>
            <th scope="col">marks</th>
            <th scope="col right-border">status</th>
          </tr>
        </thead>
      <% for(let i = 0; i < results?.length; i++) { %>
        <tbody>
          <tr class="failed">
            <td><%= results[i]?.student?.EnrollmentNo %></td>
            <td><%= results[i]?.student?.userId?.Name %></td>
            <td><%= results[i]?.subjectFullName %></td>
            <td class="subMarks"><%= results[i]?.subjectMarks %></td>
            <% if (results[i]?.subjectMarks >= 12) { %>
            <td><img src="images/pass.svg" alt="pass" class="pass" /></td>
            <% } else if (results[i]?.subjectMarks < 12) { %>
            <td><img src="images/remid.svg" alt="remid" class="remid" /></td>
            <% } else { %>
            <td>
              <img src="images/absent.svg" alt="absent" class="absent" />
            </td>
            <% } %>
          </tr>
          <% } %>
        <% } %>

        <% if (results.length === 0) { %>
          <div class="not-found-svg">
            <img src="images/not_found.svg" alt="" />
          </div>
          <div class="not-found-text">Result not found!</div>
        <% } %>
      </tbody>
    </table>
    <div>
      <% if (results.length > 0) { %> 
        <button style="display: block;" id="download-list" type="submit" name="failedStudents" onclick="exportFailedResultsToExcel()">List of remid students</button>
     <%  } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="/scripts/faculty.js"></script>
  </body>
</html>
